.table-responsive{
    margin: 50px 100px;
}
.tbl{
    width:150px;
    height: 75px;
    border: 1px solid #dddddd;
}
.popover.fade.in.editable-container.editable-popup.top{
    left: 0;
}
.editable-buttons {
    margin-top: -42px;
    margin-left: -61px;
}

.popover-content {
    width: 200px;
}